<div class="modal" en-modal>
	<div class="modal-body">
		<div>
			<h2>\{{error_modal_title}}</h2>
			<p ng-if"error_modal_message">\{{error_modal_message}}</p>
		</div>

		<div class="ok-button btn" ng-click="close()">OK</div>
	</div>
</div>
